spring:
  application:
    name: "configserver"
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          #search-locations: "classpath:/config"
          search-locations: "file:///Users//Vidyayug16//Desktop//AWS//ravi//config"		
server:
  port: 8071